# =========================
# Python
# =========================
venv/
.venv/
env/

**/__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environment
# =========================
.env

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# LaTeX
# =========================
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db